*{
    border: none;
}
body{
    margin: 50px;
}
:root{
    --firstColor: #263238;
    --secondColor: #18191F;
    --color3: #4CAF4F;
    --fourthColor: #4D4D4D;
    --fifthColor: #FFFF;
    --color6: #F5F7FA;
    --seventhColor: #717171;
    --eightColor: #89939E;
    --ninthColor: #D9DBE1;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px;
    background-color: var(--color6);
}

.maindiv{
    width: 1440px;
    height: 84px;
    flex-shrink: 0;
    gap: 30px;
    margin: 0px;
}
.logo{
    display: flex;
    gap: 8px;
}
/* .name{
    color: var(--firstColor);
    width: 111.49px;
    height: 20.662px;
    padding: 30px 30px;
} */
.nav-bar{
    color: var(--secondColor);
    gap: 25px;
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    background-color: var(--sixthColor);
}
.nav-bar p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background-color: var(--sixthColor);
}
.register{
    display: flex;
    justify-content: right;
    gap: 104px;
    background-color: var(--sixthColor);
}
.log{
    color: var(--color3);
    /* text-align: center; */
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* background-color: var(--sixthColor); */
    display: flex;
    padding: 10px 20px 10px 20px;
    align-items: center;
    gap: 14px;
    border-radius: 6px;
    background-color: var(--color6);

}

.sign{
    color: var(--fifthColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--color3);
}

.lessons{
    align-self: stretch;
    color: var(--fourthColor);
    font-family: 'Inter';
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
}

.years{
    color: #4CAF4F;
    font-family: 'Inter';
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
    margin-top: -60px;
}
.where{
    margin-top: -40px;
}

.register2{
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--color3);
    color: #FFFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.dots{
    width: 10px;
    fill: var(--color3);
    opacity: 0.3;
    align-self: stretch;
}

.illustration{
    width: 391px;
    height: 407px;
    flex-direction: column;
    background-color: var(--color6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px;       
    align-self: stretch;
    
}

.part2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 96px; */
    gap: 104px;
    align-self: stretch;
    background-color: var(--color6);
}

.our{
    align-self: stretch;
    color: var(--fourthColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.fortune{
    align-self: stretch;
    color: var(--seventhColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: -30px;
}

.client-logo{
    display: flex;
    height: 98px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    /* margin-top: -10px; */
}

.community{
    /* width: 542px; */
    color: var(--fourthColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.suitable{
    align-self: stretch;
    color: var(--seventhColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -20px;
}

.image{
    display: flex;
    width: 442px;
    padding: 52px 0.467px 52.005px 0px;
    justify-content: center;
    flex-shrink: 0;
}

.image3{
    display: flex;
    align-self: stretch;
    margin-top: 40px;
    
}

.icon7{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.param1{
    align-self: stretch;
    color: var(--fourthColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-left: -35px;
}

.param1-sub{
    width: 251px;
    color: var(--seventhColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -20px;
    margin-left: -65px;
}

.membership{
    margin-left: 150px;
    align-items: center;
}

.icon5{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    align-items: center;
}

.param2{
    align-self: stretch;
    color: var(--fourthColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-left: -35px;
}

.param2-sub{
    width: 240px;
    color: var(--seventhColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -20px;
    margin-left: -65px;
}

.national{
    margin-left: 200px;
    align-items: center;
    margin-right: 150px;
}

.icon6{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    align-items: center;
}

.param3{
    width: 231px;
    color: var(--fourthColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-left: -35px;
}

.param3-sub{
    width: 251px;
    color: var(--seventhColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -20px;
    margin-left: -65px;
}

.clubs{
    margin-left: 180px;
}

.image4{
    display: flex;
}

.unseen-button{
    margin-left: 150px;
    margin-top: 70px;
}

.unseen{
    display: flex;
    align-self: stretch;
    color: var(--fourthColor);
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.lorem{
    display: flex;
    align-self: stretch;
    color: var(--seventhColor);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -20px;
}

.learn-button{
    color: var(--fifthColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--color3);
}

.div4{
    display: flex;
}
.para1{
    width: 408px;
    color: var(--fourthColor);
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.para2{
    color: var(--color3);
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin-top: -40px;
}

.para3{
    align-self: stretch;
    color: var(--secondColor);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -40px;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 144px;
    gap: 104px;
    align-self: stretch;
    background-color: var(--color6);
}

.num1{
    width: 191px;
    color: var(--fourthColor);
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-top: -10px;
}

.members{
    width: 191px;
    color: var(--seventhColor);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -30px;
}

.event{
    width: 191px;
    color: var(--seventhColor);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -30px;
}

.topic{
    display: flex;
    margin-top: 70px;
}

.sentence{
    align-self: stretch;
    color: var(--fourthColor);
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.words{
    align-self: stretch;
    color: var(--seventhColor);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -30px;
}

.button{
    color: var(--fifthColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--color3);
}

.topic1{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-right: 200px;
}

.black-img-text{
    display: flex;
    margin-top: 30px;
    gap: 20px;
    margin-top: -20px;
}

.black-img{
    /* width: 326px; */
    /* height: 326px; */
    /* flex-shrink: 0; */
    border-radius: 8px; 
}

.text1{
    align-self: stretch;
    color: var(--seventhColor);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.tim{
    align-self: stretch;
    color: var(--color3);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: -40px;
}

.british{
    align-self: stretch;
    color: var(--eightColor);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -40px;
}

.meet{
    /* width: 188px; */
    color: var(--color3);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    gap: 32px;

}

.topic1{
    display: flex;
    width: 1440px;
    padding: 32px 144px;
    align-items: center;
    gap: 78px;
    background: var(--color6);
}

.text-img1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    margin-top: 10px;
}

.icon-list{
    display: flex;
    gap: 41px;
    align-items: center;
}

.logo1{
    width: 40px;
    height: 40px;
}

.logo2{
    width: 40px;
    height: 28px;
}

.logo3{
    width: 55px;
    height: 30px;
}

.logo4{
    width: 47px;
    height: 29px;
    flex-shrink: 0;
}

.logo5{
    width: 41px;
    height: 27px;
}

.logo6{
    width: 52px;
    height: 20px;
    gap: 41px;
}

.caring{
    align-self: stretch;
    color: var(--fourthColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.nexcent-blog{
    /* width: 628px; */
    color: var(#717171);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -30px;
}

.caring-text{
    display: flex;
    /* width: 110px; */
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.caring-imgs-txt{
    /* display: flex;
    flex-direction: row;
    width: 1440px;
    align-items: center;
    margin-top: 20px; */
    display: flex;
    padding: 0px 144px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.caring-imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -96px;
    /* display: flex;
    gap: 20px;
    position: relative;
    /* justify-content: center;
    align-items: center;
    align-self: stretch; */
} */

.text2{
    color: var(--firstColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
}

.demo{
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--color3);
    color: var(--fifthColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: -70px;
}

.demo-button{
    display: flex;
    width: 1440px;
    padding: 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background: var(--color6);
    margin-top: 100px;
}

.txt1{
    width: 285px;
    color: var(--seventhColor);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding: -65px;
}

.btn-1{
    color: var(--color3);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

/* .readmore-btns{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
} */

.txt-on-pic{
    width: 317pxc;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: -95px;
    border-radius: 8px;
    background: var(--neutral-silver, #F5F7FA);
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
}

.caring-imgs{
    width: 368px;
    height: 286px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -160.454px -12.371px / 187.203% 108.651% no-repeat;
    position: relative;
}

.pallen-div{
    display: flex;
    width: 1440px;
    padding: 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background: var(--neutral-silver, #F5F7FA);
    margin-top:190px;
}

.p-text{
    color: var(--neutral-black, #263238);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
    width: 887px;
    margin-top: -5px;
}

.get-a-demo{
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--brand-primary, #4CAF4F);
    margin-top: -70px;
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.nex-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.nex-img-logo{
    display: flex;
    width: 137.838px;
    height: 25.545px;
    align-items: center;
    gap: 9.891px;
    fill: var(--neutral-white, #FFF);
    margin-top: 30px;
}

.nex-nex{
    display: flex;
    align-items: center;
    gap: 9.891px;
    color: #FFF;
}

.copy-right{
    width: 350px;
    color: var(--neutral-silver, #F5F7FA);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -10px;
}

.all-right{
    width: 350px;
    color: var(--neutral-silver, #F5F7FA);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -50px;
}

.company{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.support{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.wrds{
    width: 160px;
    color: var(--neutral-silver, #F5F7FA);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -20px;
}

.wrdss{
    width: 160px;
    color: var(--neutral-white, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.black{
    display: flex;
    padding: 64px 165px;
    align-items: flex-start;
    gap: 125px;
    background: var(--neutral-black, #263238);
    justify-content: center;
}

.email-field{
    width: 255px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    opacity: 0.2;
    background: var(#FFF);
    color: var(--text-gray-300, #D9DBE1);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
